@media all and (max-width: 1000px) {
body {
    background-color: #000;
}

.container {
    width: 100%;
    margin: 0;
}

img {
    width: 50%;
    margin: 0;
}

.row {
    margin: 0;
}

object {
    width: 100%;
    margin: 0;
}

.message-wrapper {
    width: 100%;
    margin: 0;
}

}


@media all and (max-width: 670px) {
    body {
        background-color: #000;
    }

    body {
        margin: 0;
    }
    
    #id {
        width: %;
        margin: 0;
    }
    
    img {
        width: 100%;
        margin: 0;
    }
    
    .row {
        width: 100%;
        margin: 0;
    }
    
    object {
        width: 100%;
        margin: 0;
    }

    .message-wrapper {
        width: 100%;
        margin: 0;
    }
}
