@media all and (max-width: 1000px) {
body {
    background-color: #000;
}

input[type=text] {
    background-color: #fff;
}

input[type=reset] {
    color: #fff;
}

.container {
    background-color: #000;
}

input[type=submit] {
    color: #fff;
}

.container {
    width: 100%;
    margin: 0;
}

img {
    width: 50%;
    margin: 0;
}

.row {
    margin: 0;
}

object {
    width: 100%;
    margin: 0;
}

.message-wrapper {
    width: 100%;
    
}

}


@media all and (max-width: 670px) {
    body {
        background-color: #000;
    }

    
    input[type=text] {
        background-color: #fff;
    }
    
    input[type=reset] {
        color: #fff;
    }
    
    input[type=submit] {
        color: #fff;
    }

    .container {
        background-color: #000;
    }
    
    #id {
        width: %;
        margin: 0;
        background-color: #000;
    }
    
    img {
        width: 100%;
        margin: 0;
    }
    
    .row {
        width: 100%;
        margin: 0;
    }
    
    object {
        width: 100%;
        margin: 0;
    }

    .message-wrapper {
        width: 100%;
        margin: 150px;
    }

    h2 {
        font-size: 20px;
    }
}
